body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: auto; 
  background-color: black ; 
}

.login-element:hover{
  opacity: 1;
}